@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes arrowAnim {
    from{
        margin-left: 0rem;
    }
    to{
        margin-left: 0.5rem;
    }
}
@keyframes recordVoice {
    from {
        top:5rem;
        opacity: 0.5;
    }
    to{
        top:0rem;
        opacity: 1;
    }
}
.voiceRecord{
    animation: recordVoice 400ms linear;
}
.arrowIcon{
    animation: arrowAnim 400ms linear;  
}
@keyframes questions {
    from {
        left:7rem;
        opacity: 0.5;
    }
    to{
        left:0rem;
        opacity: 1;
    }
}
@keyframes recording {
    from {
        scale: 0.9;
        opacity: 0;
    }
    to{
        scale: 1;
        opacity: 1; 
    }
}
@keyframes scoreFill {
    from {
       width: 0%;
    }
    to{
        width: 50%;
    }
}
@keyframes pulse-ring {
    0%{
        box-shadow: 0 0 0 0 rgba(74, 128, 255, 0.7),  0 0 0 0 rgba(74, 128, 255, 0.7);
    }
    40%{
        box-shadow: 0 0 0 20px rgba(255,109,74,0.0),  0 0 0 0 rgba(74, 128, 255, 0.7);
    }
    80%{
        box-shadow: 0 0 0 10px rgba(255,109,74,0.0),  0 0 0 10px rgba(255,109,74,0);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(227, 196, 188, 0),  0 0 0 10px rgba(255,109,74,0);
    }
  }

@keyframes textShow {
    0% {
       opacity:0;
    }
    75%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.thumb{
    height: 2rem;
}
  .example-thumb {
    cursor: pointer;
    position: absolute;
    z-index: 100;
    background: #ffffff;
    border: 5px solid #3774ff;
    border-radius: 100%;
    display: block;
    box-shadow: 0 0 2px 0 rgb(0 0 0 / 44%);
  }
  .example-thumb.active {
    background-color: grey;
  }
  .example-track {
    position: relative;
    background: #ddd;
  }
  .example-track.example-track-0 {
    background: linear-gradient(to right,green,orange,red);
  }
  .horizontal-slider .example-track {
    top: 20px;
    height: 4px;
  }
  .horizontal-slider .example-thumb {
    top: 12px;
    width: 10px;
    outline: none;
    height: 10px;
    line-height: 38px;
  }


.status{
    animation: textShow 900ms infinite;
}   


.scoreFill{
    animation: scoreFill 300ms linear;
}
.recording{
    animation: recording 300ms linear;
}
.questions{
    animation: questions 300ms linear;
}
.pulse{
   animation: pulse-ring 3s linear infinite;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}